body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
 
  opacity: 90%;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

img{
  
  transition: transform 0.2s ease;
}

img:hover{
  transform: scale(0.8);
}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1010px;
  object-fit: cover;
  z-index: -1;
}

.bento-gallery {
  margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    background-color: transparent;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  
  .card {
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .card h2 {
    padding: 1rem;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card p {
    padding: 1rem;
    margin: 0;
    font-size: 1.0rem;
    color: #000000;
    font-family: fantasy;
  }
  
  


nav {
    display: flex;
    justify-content: space-around;

  }
  
  .boton {
    background-color: #ffffff;
    color: #020202;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 10px 5px white;
  }
  
  .boton:hover {
    background-color: #000000;
    color: #f7f7f7;
  }

  .brillo{

    box-shadow: 0px 0px 10px 5px white;
}

footer {
  opacity: 90%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  margin-top: 47px;
  bottom: 0;
 
  
}


